<div class="top-body-wrapper">
  <div *ngIf="loginUser">
    <p>Welcome, {{ loginUser.displayName }}! Id is {{ loginUser.uid }}</p>
  </div>

  <form #urlForm="ngForm" action="">
    <mat-form-field class="register-form">
      <mat-label>Enter Title</mat-label>
      <input matInput [(ngModel)]="bookmarkInputForm.title" name="inputTitle" placeholder="A girl is ...">
    </mat-form-field>
    <mat-form-field class="register-form">
      <mat-label>Enter URL</mat-label>
      <input matInput [(ngModel)]="bookmarkInputForm.url" name="inputUrl" type="url" placeholder="https://www.favoritevideo.com">
    </mat-form-field>
    <mat-form-field class="register-form">
      <mat-label>Enter Description</mat-label>
      <input matInput [(ngModel)]="bookmarkInputForm.description" name="inputDesc" placeholder="this is XXX">
    </mat-form-field>
    <button mat-button type="submit" (click)="addBookmark.emit()">登録</button>
  </form>


  <mat-accordion>
    <mat-expansion-panel *ngFor="let bookmark of bookmarks | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ bookmark.title }}
        </mat-panel-title>
        <mat-panel-description>
          <a href="{{ bookmark.url }}">{{ bookmark.url }}</a>
          {{ bookmark.url }}
        </mat-panel-description>
        <button mat-button color="primary" (click)="openBookmark.emit(bookmark.url)">新しいタブで開く</button>
      </mat-expansion-panel-header>
      <p>{{ bookmark.description }}</p>
      <mat-action-row>
        <button mat-button color="warn" (click)="deleteBookmark.emit(bookmark.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

