<div class="top-body-wrapper">
  <div *ngIf="loginUser | async as user">
    <p>Welcome, {{ user.displayName }}! Id is {{ user.uid }}</p>
  </div>

  <form #urlForm="ngForm" action="">
    <!-- {{ urlForm.value | json }}
    {{ bookmarkModel | json }} -->
    <mat-form-field class="register-form">
      <mat-label>Enter Title</mat-label>
      <input matInput [(ngModel)]="bookmarkInputForm.title" name="inputTitle" placeholder="A girl is ...">
    </mat-form-field>
    <mat-form-field class="register-form">
      <mat-label>Enter URL</mat-label>
      <input matInput [(ngModel)]="bookmarkInputForm.url" name="inputUrl" type="url" placeholder="https://www.favoritevideo.com">
    </mat-form-field>
    <mat-form-field class="register-form">
      <mat-label>Enter Description</mat-label>
      <input matInput [(ngModel)]="bookmarkInputForm.description" name="inputDesc" placeholder="this is XXX">
    </mat-form-field>
    <button mat-button type="submit" (click)="topBodyEvent.emit()">登録</button>
  </form>


  <mat-accordion>
    <mat-expansion-panel *ngFor="let bookmark of bookmarks | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ bookmark.title }}
        </mat-panel-title>
        <mat-panel-description>
          {{ bookmark.url }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{ bookmark.description }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let user of users | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ user.name }}
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of testCollectionItems | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.url }}
        </mat-panel-title>
        <mat-panel-description>
          {{ item.desc }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
